@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  scroll-behavior: smooth;
  background: #0C2A53;
  color: white;
  font-family: 'Poppins', sans-serif;
  overflow-x: auto;
  overflow-y: auto;
}
