@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
* {
  font-family: "Dosis", sans-serif;
}

html, body {
  scroll-behavior: smooth;
  background: #0C2A53;
  color: white;
  font-family: 'Poppins', sans-serif;
  overflow-x: auto;
  overflow-y: auto;
}
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 40s linear infinite;
}
body {
  font-family: "Dosis", sans-serif;
}